<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/home2.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="conteneur">
        <div  class="conteneur_menu-burger_content">
        </div>
    <header class="header">
        <div class="logo">
            <img class="header-logo" src="https://static.wixstatic.com/media/b5e0e1_57f7a67b736d419d924ba6d6b76eb528~mv2.png/v1/fill/w_179,h_101,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/LOGO%20KIPOSETOU'.png"/>
        </div>
        <nav class="nav">
            <ul class="nav_menu">
                <li class="nav_menu_li"><a href="#" class="nav_menu_link">Acceuil</a></li>
                <li class="nav_menu_li"><a href="#" class="nav_menu_link">A propos</a></li>
                <li class="nav_menu_li"><a href="#" class="nav_menu_link">Nos produits</a></li>
                <div class="dropdown-1">
                    <li><a href="#" class="nav_menu_link">Nos réalisations</a></li>
                    <div class="content">
                        <a class="content-onglet">Volets</a>
                        <a class="content-onglet">Fenêtres</a>
                        <a class="content-onglet">Portes</a>
                        <a class="content-onglet">Portails</a>
                        <a class="content-onglet">Pergolas</a>
                        <a class="content-onglet">Couvertines</a>
                        <a class="content-onglet">Appuis de Fenêtres Alu</a>
                        <a class="content-onglet">Clôtures Alu/PVC</a>
                    </div>
                </div>
                <li class="nav_menu_li"><a href="#" class="nav_menu_link-contact">Contact</a></li>
                <li class="nav_menu_li"><a href="#" class="nav_menu_link-devis">Devis gratuit</a></li>
            </ul>
        </nav>
        <div class="menu-burger">
              <span class="menu-burger_bar-millieu"></span>
        </div>
        <nav class="menu-burger-nav">
            <ul class="menu-burger-nav_menu">
                <li class="menu-burger-nav_menu_li"> <a class="menu-burger-nav_menu_li_link"  href="#">Acceuil</a></li>
                <li class="menu-burger-nav_menu_li"> <a class="menu-burger-nav_menu_li_link" href="#">A propos</a></li>
                <li class="menu-burger-nav_menu_li"> <a class="menu-burger-nav_menu_li_link" href="#">Nos produits</a></li>
                <li class="menu-burger-nav_menu_li menu-burger-nav_menu_li-dropdown-2"> <a class="menu-burger-nav_menu_li_link" href="#">Nos réalisations</a></li>
                <li class="menu-burger-nav_menu_li"> <a class="menu-burger-nav_menu_li_link" href="#" class="nav_menu_link-contact">Contact</a></li>
                <li class="menu-burger-nav_menu_li"> <a class="menu-burger-nav_menu_li_link" href="#">Devis gratuit</a></li>
            </ul>
            <div class="menu-burger-nav_menu-content">
                <a class="menu-burger-nav_menu-content-onglet">Volets</a>
                <a class="menu-burger-nav_menu-content-onglet">Fenêtres</a>
                <a class="menu-burger-nav_menu-content-onglet">Portes</a>
                <a class="menu-burger-nav_menu-content-onglet">Portails</a>
                <a class="menu-burger-nav_menu-content-onglet">Pergolas</a>
                <a class="menu-burger-nav_menu-content-onglet">Couvertines</a>
                <a class="menu-burger-nav_menu-content-onglet">Appuis de Fenêtres Alu</a>
                <a class="menu-burger-nav_menu-content-onglet">Clôtures Alu/PVC</a>
            </div>
        </nav>
    </header>
    <main class="main">

        <video autoplay muted loop class="main_video" >
            
            <source src="/videos/video_main.mp4" type="video/mp4">

            Sorry, your browser doesn't support embedded videos.
            
        </video>
        <!-- <p class="main_title">Spécialiste du neuf et de la rénovation</p> -->
        <div class="main_title">
            <img class="main_title_img" src="/images/LOGO_KIPOSETOU.png" />
            <p class="main_title_texte" data-text="Spécialiste de la rénovation et du neuf">Spécialiste de la rénovation et du neuf</p>
            <p class="nav_menu_link-contact" style="margin-top: 15px;"><a href="#" class="main_button">Voir nos réalisations </a></p>
        </div>
        
        
    </main>
    <main class="main2">
        <div class="main2_container">
            <div class="main2_container_proposer">
                Ce que nous vous proposons
            </div>
            <div class="main2_container_icon">
                <div class="main2_container_icon_fenetre">
                    <img class="icon" src="/images/la-fenetre.png" alt="" width="60px" height="60px"/>
                    <p class="sous_icon">Un produit haut-de-gamme</p>
                    <img class="sous_icon_plus"  src="/images/plus.png" alt="" width="35px"/>
                    <p class="sous_icon_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis fugit, debitis eum neque illum tempora dolorem in. Nesciunt necessitatibus modi, ratione aliquam repellendus, ea dolorem veniam perferendis excepturi officia reprehenderit. </p>
                </div>
                
                <div class="main2_container_icon_outils">
                    <img class="icon"  src="images/outils.png" alt="" width="60px" height="60px"/>
                    <p class="sous_icon">Une installation qui vous change la vie</p>
                    <img class="sous_icon_plus" src="/images/plus.png" alt="" width="35px"/>
                    <p class="sous_icon_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis fugit, debitis eum neque illum tempora dolorem in. Nesciunt necessitatibus modi, ratione aliquam repellendus, ea dolorem veniam perferendis excepturi officia reprehenderit. </p>
                </div>
                <div class="main2_container_icon_localisation">
                    <img class="icon" src="/images/broche-de-localisation.png" alt="" width="60px" height="60px"/>
                    <p class="sous_icon">Des experts locaux et expérimentés</p>
                    <img class="sous_icon_plus" src="/images/plus.png" alt="" width="35px"/>
                    <p class="sous_icon_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis fugit, debitis eum neque illum tempora dolorem in. Nesciunt necessitatibus modi, ratione aliquam repellendus, ea dolorem veniam perferendis excepturi officia reprehenderit. </p>
                </div>
                
            </div>
            <div class="main2_realisation">
                <div class="main2_realisation_titre">Nos Réalisations</div>
                <p class="main2_realisation_decouvrir">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iusto quisquam, maiores doloremque nihil quis molestiae id, deleniti fugit voluptatum hic odio facere nobis nisi officia, nam ab. Suscipit, adipisci?</p>
                <p class="main2_realisation_decouvrir_button">
                    <a href="#" class="main2_button_decouvrir">découvrir</a>
                </p>
                <div class="image_realisation_fenetre1">
                    <!-- <img class="image_realisation_fenetre_img1" src="/images/chairs-ga282796ad_1280.jpg" alt="" width="35px"/> -->
                </div>
                <div class="image_realisation_fenetre2">
                    <!-- <img class="image_realisation_fenetre_img2" src="/images/pexels-pixabay-259962.jpg" alt="" width="35px"/> -->
                </div>
            </div>
            <div class="main2_block3">

                <h2 class="main2_block3_title">Pourquoi choisir KIPOSTOU ?</h2> 
                <div class="main2_block3_numero">
                    <div class="main2_block3_numero_box">
                        <div class="numero_block"> <span class="number_span">1</span> </div>
                        <div class="numero_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quidem amet impedit, harum nobis obcaecati, quibusdam aut eius provident ut nam quod ex ipsam doloribus quam praesentium suscipit excepturi nesciunt?</div> 
                    </div>
                    <div class="main2_block3_numero_box">
                        <div class="numero_block"><span class="number_span">2</span></div>
                        <div class="numero_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quidem amet impedit, harum nobis obcaecati, quibusdam aut eius provident ut nam quod ex ipsam doloribus quam praesentium suscipit excepturi nesciunt?</div> 
                    </div>
                    <div class="main2_block3_numero_box">
                        <div class="numero_block"><span class="number_span">3</span></div>
                        <div class="numero_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quidem amet impedit, harum nobis obcaecati, quibusdam aut eius provident ut nam quod ex ipsam doloribus quam praesentium suscipit excepturi nesciunt?</div> 
                    </div>
                    <div class="main2_block3_numero_box">
                        <div class="numero_block"><span class="number_span">4</span></div>
                        <div class="numero_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quidem amet impedit, harum nobis obcaecati, quibusdam aut eius provident ut nam quod ex ipsam doloribus quam praesentium suscipit excepturi nesciunt?</div> 
                    </div>
                    <div class="main2_block3_numero_box">
                        <div class="numero_block"><span class="number_span">5</span></div>
                        <div class="numero_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quidem amet impedit, harum nobis obcaecati, quibusdam aut eius provident ut nam quod ex ipsam doloribus quam praesentium suscipit excepturi nesciunt?</div> 
                    </div>
                    <div class="main2_block3_numero_box">
                        <div class="numero_block"><span class="number_span">6</span></div>
                        <div class="numero_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quidem amet impedit, harum nobis obcaecati, quibusdam aut eius provident ut nam quod ex ipsam doloribus quam praesentium suscipit excepturi nesciunt?</div> 
                    </div>
                 </div>  
                 <div class="main2_block3_button">
                    <a href="#" class="main2_block3_button_devis">DEMANDER UN DEVIS</a>
                </div>
            </div>
           <div class="main2_block4">
            <h2 class="main2_block4_title">Nos services et produits</h2>
            <div class="main2_block4_tableau">
                <div class="main2_block4_tableau_element"> <span class="block4_element">  Coulissant </span>  minimaliste</div>
                <div class="main2_block4_tableau_element"> <span class="block4_element">  Cloison </span>   amovible</div>
                <div class="main2_block4_tableau_element"> <span class="block4_element">  Extension </span>  à toiture plate</div>
                <div class="main2_block4_tableau_element"> <span class="block4_element">  Façade </span>  commerciale</div>
                <div class="main2_block4_tableau_element"> <span class="block4_element">  Certifications </span>  sur tous les matériaux</div>
                <div class="main2_block4_tableau_element"> <span class="block4_element">  Equipe </span>  technique dédiée</div>
                <div class="image_block4_fenetre3">
                </div>
                <div class="image_block4_fenetre4">
                </div>
            </div>
            
            <div class="main2_block4_details">
                <div class="main2_block4_details_mission">
                    <p class="main2_block4_details_mission_p1">Notre mission : Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem possimus culpa maxime odit! </p>
                    <p class="main2_block4_details_mission_p2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic accusamus, sequi exercitationem voluptas autem vitae officia quam temporibus labore atque provident minima sed. Ea ex amet, nobis minima fuga blanditiis?</p>
                    <p class="main2_block4_details_mission_p3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex sed corporis voluptatum et? Quis dolore molestiae qui voluptatum suscipit repellat sit ea, itaque similique amet consequatur vel sunt id voluptatem.</p>
                    <p class="main2_block4_details_mission_p4"><a href="#" class="main2_button_decouvrir">découvrir</a></p>
                </div>
            </div>
            <div class="main2_block4_avis">
                <h2 class="main2_block4_avis_title"> Il nous font confiance</h2>
                <div class="main2_block4_avis_box">
                    <div class="main2_block4_avis_box_block avis1">
                        <p class="main2_block4_avis_box_block_personne">M.Raki</p>
                        <p class="main2_block4_avis_box_block_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure animi distinctio dolore impedit error iste voluptatibus .</p>
                        <p class="main2_block4_avis_box_block_etoile"> * * * * *</p>
                    </div>
                    <div class="main2_block4_avis_box_block avis2">
                        <p class="main2_block4_avis_box_block_personne">M.Raki</p>
                        <p class="main2_block4_avis_box_block_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure animi distinctio dolore impedit error iste voluptatibus .</p>
                        <p class="main2_block4_avis_box_block_etoile"> * * * * *</p>
                    </div>
                    <div class="main2_block4_avis_box_block avis3">
                        <p class="main2_block4_avis_box_block_personne">M.Raki</p>
                        <p class="main2_block4_avis_box_block_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure animi distinctio dolore impedit error iste voluptatibus .</p>
                        <p class="main2_block4_avis_box_block_etoile"> * * * * *</p>
                    </div>
                    <div class="main2_block4_avis_box_block avis4">
                        <p class="main2_block4_avis_box_block_personne">M.Raki</p>
                        <p class="main2_block4_avis_box_block_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure animi distinctio dolore impedit error iste voluptatibus .</p>
                        <p class="main2_block4_avis_box_block_etoile"> * * * * *</p>
                    </div>
                    
                </div>
                <img class="fleche_droite_avis" src="/images/fleche-vers-le-haut.png"/>
                <img class="fleche_gauche_avis" src="/images/fleche-vers-le-haut.png"/>
            </div>

           </div>
        </div>
       
    </main>
    </div>
    <script src="/js/home2.js"></script>
</body>
</html>