<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/home.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <h1>Hello world gfgfgf</h1>
    <div class="box">
        <div class="btn not-active">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
      


    <script src="/js/home.js"></script>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="/css/reset.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/home.css" />
</head>
<body>

    <div class="conteneur">
    <header>
        <nav>
            <div class="logo">
                <img class="header-logo" src="/images/kipostou-logo.jpg"/>
            </div>
            <div class="toggle">
                <i class="fas fa-bars ouvrir"></i>
                <i class="fas fa-times fermer"></i>
            </div>
            <ul class="menu">
                <li><a href="#" class="link-navbar"><p>Acceuil</a></p></li>
                <li><a href="#" class="link-navbar"><p>A propos</p></a></li>
                <li><a href="#" class="link-navbar">Nos produits</a></li>
                <li><a href="#" class="link-navbar">Nos réalisations</a></li>
                <li><a href="#" class="link-contact">Contact</button></a></li>
                <li><a href="#" class="link-devis">Devis gratuit</button></a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">

    </section>
    
    <script src="/js/home.js"></script>
</div>
</body>
</html>